.navi {
    max-width: 960px;
    padding: 10px;
    font-family: Ubuntu, sans-serif;
    margin: 0 auto;
}

.nav-item {
    font-size: 12px;
    padding: 5px;
    margin-right: 5px;
    border: solid 1px rgba(128, 128, 128, 0.2);
}

.nav-item:hover {
    background-color: rgba(128, 128, 128, 0.03);
}

.nav-item a {
    padding: 0px;
    margin: 0px;
}

.dropdown-item {
    font-size: 13px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.2);
}

.dropdown-item:last-child {
    border: 0px;
}

.nav-item-style {
    font-size: 15px;
    margin: 10px 0px;
}

@media (min-width: 768px) {
    .navbar-expand-md {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
