<div id="back">
    <div *ngIf="!object" class="text-left card" id="card-fix" style="background: rgba(255,255,255,0.35);">
        <form class="text-center form-signin" *ngIf="object == null">
            <h2 class="text-center" style="color: rgb(255,255,255);font-size: 28px;">Sessions Per Point</h2>
            <select class="custom-select" name="PointID" [(ngModel)]="inputPointID"
                style="border-radius: 4px;height: 44px;margin: 10px 0px 10px;border-width: 1px;border-color: rgb(0,0,0);">
                <option [ngValue]="null" [disabled]="true">PointID</option>
                <option *ngFor="let point of AdminPoints" [value]="point.point_id">
                    {{point.point_id}}
                </option>
            </select>
            <input class="form-control" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="date"
                name="dateFrom" [(ngModel)]="inputDateFrom"
                style="border-radius: 4px;height: 44px;margin: 0px 0px 10px;border-color: rgb(0,0,0);"
                title="Date From">
            <input class="form-control" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="date"
                name="dateTo" [(ngModel)]="inputDateTo"
                style="border-radius: 4px;height: 44px;margin: 0px 0px 15px;border-color: rgb(0,0,0);" title="Date To">
            <button class="btn btn-primary" id="result" type="button" (click)="FetchData()"
                style="color: rgb(255,255,255);background: rgb(37,195,146);box-shadow: 0px 0px;border-style: none;border-color: rgb(0,0,0);"><strong>Results</strong>
            </button>
        </form>
    </div>
    
    <div id="objects" class="table-responsive" *ngIf="object">
        <h4>Point ID: {{object.Point}}</h4>
        <h5>Point Operator: {{object.PointOperator}}</h5>
        <h5>Period from: {{object.PeriodFrom}}</h5>
        <h5>Period to: {{object.PeriodTo}}</h5>
        <button id="btn-search" class="btn btn-primary" style="float: right;" (click)="object = null">
            Search Again!
        </button>
        <table id="table-result" class="table table-striped" style="width: 100%">
            <tr>
                <th>SessionIndex</th>
                <th>SessionID</th>
                <th>StartedOn</th>
                <th>FinishedOn</th>
                <th>Protocol</th>
                <th>EnergyDelivered</th>
                <th>Payment</th>
                <th>VehicleType</th>
            </tr>
            <tr *ngFor="let session of object.ChargingSessionsList">
                    <th>{{session.SessionIndex}}</th>
                    <th>{{session.SessionID}}</th>
                    <th>{{session.StartedOn}}</th>
                    <th>{{session.FinishedOn}}</th>
                    <th>{{session.Protocol}}</th>
                    <th>{{session.EnergyDelivered}}</th>
                    <th>{{session.Payment}}</th>
                    <th>{{session.VehicleType}}</th>
            </tr>
        </table>
        <div class="container col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <div class="chart-wrapper" id="card-chart">
                        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                            [chartType]="chartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="chart-wrapper" id="card-chart">
                        <canvas baseChart [datasets]="chartData2" [labels]="chartLabels2" [options]="chartOptions2"
                            [chartType]="chartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="chart-wrapper" id="card-chart">
                        <canvas baseChart [datasets]="chartData3" [labels]="chartLabels3" [options]="chartOptions3"
                            [chartType]="chartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="chart-wrapper" id="card-chart">
                        <canvas baseChart [datasets]="chartData4" [labels]="chartLabels4" [options]="chartOptions4" 
                            [legend]="chartLegend" [chartType]="chartType4">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
