<div id="logout-back">
    <div id="goodbye-card">
        <form class="text-center form-signin"
            style="color: rgba(255,255,255,0);border-style: none;background: rgba(255,255,255,0);">
            <h2 class="text-center"
                style="color: rgb(37,195,146);font-size: 35px;margin-top: 8px;background: rgba(255,255,255,0);border-style: none;">
                Thank you, goodbye!</h2><img src="../../assets/img/logo-fortistex2.png">
        </form><img id="car" src="../../assets/img/car-mirror.jpg">
    </div>
</div>