#logout-back {
    background-color: rgb(21, 25, 36);
}

#goodbye-card {
    width: 400px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
    #goodbye-card {
        width: 90%;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#car {
    width: 50%;
    position: fixed;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move 6s linear infinite;
}

@media (max-width: 600px) {
    #car {
        width: 40%;
    }
}

@keyframes move {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(500%);
    }
}
