<div id="back">
    <div class="text-left card" id="card-fix" style="background: rgba(255,255,255,0.35);">
        <form class="text-center form-signin">
            <div class="card credit-card-box">
                <div class="card-body" style="height: 87.6px;padding: 10px;margin: 0px ;"><label
                        style="color: rgb(33,37,41, 0.8);font-size: 24px;"><strong>Total cost</strong></label><br>
                        <label style="font-size: 20px;">{{totalCost}}<strong>€</strong><br></label></div>
            </div>
        </form>
        <form class="text-center form-signin">
            <div class="card credit-card-box">
                <div class="card-header" style="background: rgba(255,255,255,0.35);">
                    <h3><span class="panel-title-text" style="color: rgb(33, 37, 41);">Payment Details </span><img
                            class="img-fluid panel-title-image" src="../../assets/img/accepted_cards.png"></h3>
                </div>
                <div class="card-body">
                    <form id="payment-form">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group"><label for="cardNumber">Card number </label>
                                    <div class="input-group"><input class="form-control" type="tel" id="cardNumber"
                                            required="" placeholder="Valid Card Number">
                                        <div class="input-group-append"><span class="input-group-text"><i
                                                    class="fa fa-credit-card"></i></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-7">
                                <div class="form-group"><label for="cardExpiry"><span>expiration </span><span>EXP
                                        </span> date</label><input class="form-control" type="tel" id="cardExpiry"
                                        required="" placeholder="MM / YY"></div>
                            </div>
                            <div class="col-5 pull-right">
                                <div class="form-group"><label for="cardCVC">cv code</label><input class="form-control"
                                        type="tel" id="cardCVC" required="" placeholder="CVC"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12"><button class="btn btn-success btn-block btn-lg" type="submit"
                                    style="background: rgb(37,195,146);color: rgb(255, 255, 255);" (click)="proceedToRating()">Pay</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>