<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>front</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="../assets/css/clean-navbar-1.css">
    <link rel="stylesheet" href="../assets/css/clean-navbar.css">
    <link rel="stylesheet" href="../assets/css/front.css">
    <link rel="stylesheet" href="../assets/css/loged_in.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/logout.css">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/SessionsInput.css">
</head>

<body id="back">
    <div>
        <div id="fortistex_div"><img id="fortistex" src="../assets/img/logo-fortistex.png" style="margin: 0px 0px 0px 0px;">
            <h1 id="network" style="color: rgb(0,0,0);font-size: 26px;text-align: center;">Energy Network</h1>
        </div>
        <div id="div-login"><a href="login.html" style="color: rgb(55,143,132);font-size: 18px;">Login</a></div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
</body>

</html>