<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>front</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="../assets/css/front.css">
    <link rel="stylesheet" href="../assets/css/loged_in.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/logout.css">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/SessionsInput.css">
</head>

<body id="back">
    <div class="login-card" style="background: rgba(255,255,255,0.25);"><img class="profile-img-card" src="../assets/img/avatar_2x.png">
        <p class="profile-name-card"> </p>
        <form class="form-signin"><select class="custom-select" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" style="height: 50px;padding-top: 3px;padding-bottom: 3px;font-size: 17px;width: 100%;border-radius: 4px;margin: 0px 0px 10px;color: rgb(80,82,85);" title="User Type">
                <option value="12">User</option>
                <option value="">Admin</option>
            </select><input class="form-control" type="text" id="inputUsername" placeholder="Username"><input class="form-control" type="password" id="inputPassword" required="" placeholder="Password"><button class="btn btn-primary btn-block btn-lg btn-signin" type="submit" style="background: rgb(45,114,106);">Sign in</button>
            <div class="checkbox">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Remember me</label></div>
            </div>
        </form>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
</body>

</html>