<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FORTISTEX</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/Bootstrap-Payment-Form.css">
    <link rel="stylesheet" href="../assets/css/clean-navbar-1.css">
    <link rel="stylesheet" href="../assets/css/clean-navbar.css">
    <link rel="stylesheet" href="../assets/css/front.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/logout.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body id="back">
    <div class="text-left card" id="card-fix" style="background: rgba(255,255,255,0.35);">
        <form class="text-center form-signin">
            <h2 class="text-center" style="color: rgb(255,255,255);font-size: 28px;">Sessions Per Point</h2><input class="form-control" type="text" placeholder="Point" style="border-radius: 4px;height: 44px;margin: 10px 0px 10px;border-width: 1px;border-color: rgb(0,0,0);"><input class="form-control" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="date" style="border-radius: 4px;height: 44px;margin: 0px 0px 10px;border-color: rgb(0,0,0);" title="Date From"><input class="form-control" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="date" style="border-radius: 4px;height: 44px;margin: 0px 0px 15px;border-color: rgb(0,0,0);" title="Date To"><button class="btn btn-primary" id="result" type="button" style="color: rgb(255,255,255);background: rgb(37,195,146);box-shadow: 0px 0px;border-style: none;border-color: rgb(0,0,0);"><strong>Results</strong></button>
        </form>
    </div>
    <nav class="navbar navbar-light navbar-expand-md" id="navbar" style="background: rgb(37,195,146);">
        <div class="container-fluid"><a class="navbar-brand" href="front.html"><img src="../assets/img/logo-blank2.jpg" style="height: 100%;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="color: rgba(255,255,255,0.5);"></span></button>
            <div class="collapse navbar-collapse d-md-flex d-xl-flex justify-content-md-end justify-content-xl-end" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item" style="border-style: none;"><a class="nav-link active text-right" href="SessionsPerPointInput.html" style="font-size: 15px;margin: 10px 0px;color: rgba(255,255,255,0.7);"><strong>Points</strong></a></li>
                    <li class="nav-item" style="border-style: none;"><a class="nav-link active text-right" href="SessionsPerStationInput.html" style="font-size: 15px;margin: 10px 0px;color: rgba(255,255,255,0.7);">Stations</a></li>
                    <li class="nav-item" style="border-style: none;"><a class="nav-link text-right" href="SessionsPerProviderInput.html" style="font-size: 15px;margin: 10px 0px;color: rgba(255,255,255,0.7);">Providers</a></li>
                    <li class="nav-item" style="border-style: none;"><a class="nav-link text-right" href="#" style="font-size: 15px;margin: 10px 0px;color: rgba(255,255,255,0.7);">Invoice</a></li>
                    <li class="nav-item text-right" style="border-style: none;"><button class="btn btn-primary text-right" type="button" style="height: 40px;background: rgba(255,255,255,0);color: rgba(255,255,255,0.7);border-radius: 4px;font-size: 15px;border-style: none;border-color: rgba(167,159,159,0.32);">Logout</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
</body>

</html>