#table-result{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255,255,255, 0.3);
}

#objects{
    color: rgba(255, 255, 255, 0.863);
}

#btn-search{
    margin: 0px 0px 20px 45%;
    background-color: rgb(37,195,146);
    border-color: rgb(37,195,146);   
}