<div id="back">
    <div *ngIf="!object" class="text-left card" id="card-fix" style="background: rgba(255,255,255,0.35);">
        <form class="text-center form-signin" *ngIf="object == null">
            <h2 class="text-center" style="color: rgb(255,255,255);font-size: 28px;">Sessions Per EV</h2>
            <select class="custom-select" name="VehicleID" [(ngModel)]="inputVehicleID"
                style="border-radius: 4px;height: 44px;margin: 10px 0px 10px;border-width: 1px;border-color: rgb(0,0,0);">
                <option [ngValue]="null" [disabled]="true">VehicleID</option>
                <option *ngFor="let licencePlate of UserVehicles" [value]="licencePlate.license_plate">
                    {{licencePlate.license_plate}}
                </option>
            </select>
            <!-- <input class="form-control" type="text" placeholder="Electric Vehicle" name="VehicleID" [(ngModel)]="inputVehicleID"
                style="border-radius: 4px;height: 44px;margin: 10px 0px 10px;border-width: 1px;border-color: rgb(0,0,0);"> -->
            <input class="form-control" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="date"
                name="dateFrom" [(ngModel)]="inputDateFrom"
                style="border-radius: 4px;height: 44px;margin: 0px 0px 10px;border-color: rgb(0,0,0);"
                title="Date From">
            <input class="form-control" data-toggle="tooltip" data-bss-tooltip="" data-placement="right" type="date"
                name="dateTo" [(ngModel)]="inputDateTo"
                style="border-radius: 4px;height: 44px;margin: 0px 0px 15px;border-color: rgb(0,0,0);" title="Date To">
            <button class="btn btn-primary" id="result" type="button" (click)="FetchData()"
                style="color: rgb(255,255,255);background: rgb(37,195,146);box-shadow: 0px 0px;border-style: none;border-color: rgb(0,0,0);"><strong>Results</strong>

            </button>
        </form>
    </div>
    <div id="objects" class="table-responsive" *ngIf="object">
        <h4>Vehicle ID: {{object.VehicleID}}</h4>
        <h5>Period from: {{object.PeriodFrom}}</h5>
        <h5>Period to: {{object.PeriodTo}}</h5>
        <h5>Total Energy Consumed: {{object.TotalEnergyConsumed}}</h5>
        <table id="table-result" class="table table-striped" style="width: 100%">
            <tr>
                <th>SessionIndex</th>
                <th>SessionID</th>
                <th>EnergyProvider </th>
                <th>StartedOn</th>
                <th>FinishedOn</th>
                <th>EnergyDelivered</th>
                <th>PricePolicyRef</th>
                <th>CostPerKWh</th>
                <th>SessionCost</th>
            </tr>
            <tr *ngFor="let session of object.VehicleChargingSessionsList">
                <th>{{session.SessionIndex}}</th>
                <th>{{session.SessionID}}</th>
                <th>{{session.EnergyProvider}}</th>
                <th>{{session.StartedOn}}</th>
                <th>{{session.FinishedOn}}</th>
                <th>{{session.EnergyDelivered}}</th>
                <th>{{session.PricePolicyRef}}</th>
                <th>{{session.CostPerKWh}}</th>
                <th>{{session.SessionCost}}</th>
            </tr>
        </table>
        <button id="btn-search" class="btn btn-primary" (click)="object = null">
            Search Again!
        </button>
    </div>
</div>