#fortistex_div {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  #div-login {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  #network {
    margin-top: 120%;
  }
  