<div id="back">
    <div class="text-left card" id="card-fix" style="background: rgba(255,255,255,0.35);padding: 5px 10px;">
        <form class="text-center form-signin">
            <h2 class="text-center" style="color: rgb(255,255,255);font-size: 28px;margin: 0px 0px 0px 0px;">Charge</h2>
            <label style="color: rgb(255,255,255);margin: 0px;">Select EV</label><select class="custom-select">
                <option value="">temp1</option>
                <option value="">temp2</option>
                <option value="">temp3</option>
            </select><label style="color: rgb(255,255,255);margin: 0px;">Charging Protocol</label><select
                class="custom-select">
                <option value="">Normal</option>
                <option value="">Fast</option>
            </select><label style="color: rgb(255,255,255);margin: 0px;">Station</label><select class="custom-select">
                <option value="">Station1</option>
                <option value="">Station2</option>
            </select><label style="color: rgb(255,255,255);margin: 0px;">Point</label><select class="custom-select">
                <option value="">point1</option>
                <option value="">point2</option>
            </select><label style="color: rgb(255,255,255);margin: 0px;">Connection Time</label><input
                class="form-control" type="datetime-local"
                style="border-radius: 4px;height: 35px;margin: 0px 0px 10px;border-color: rgb(0,0,0);"><label
                style="color: rgb(255,255,255);margin: 0px;">Disconnection Time</label><input class="form-control"
                type="datetime-local"
                style="border-radius: 4px;height: 35px;margin: 0px 0px 10px;border-color: rgb(0,0,0);"><label
                style="color: rgb(255,255,255);margin: 0px;">KWh Delivered</label><input class="form-control"
                type="number" style="height: 35px;margin: 0px;"><button class="btn btn-primary" type="button"><strong>Continue
                    to Payment</strong><br></button>
        </form>
    </div>
</div>