.custom-select {
    height: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    width: 100%;
    border-radius: 4px;
    margin: 0px 0px 10px;
    color: rgb(80, 82, 85);
}

.btn-primary {
    color: rgb(255, 255, 255);
    background: rgb(37, 195, 146);
    box-shadow: 0px 0px;
    border-style: none;
    border-color: rgb(0, 0, 0);
    margin: 10px;
}
