<div id="back">
    <div class="text-left card" id="card-fix" style="background: rgba(255,255,255,0.35);">
        <form class="text-center form-signin">
            <h2 class="text-center" style="color: rgb(255,255,255);font-size: 28px;">Welcome, {{services.getUserName()}}!</h2>
            <button class="btn btn-primary" id="options" type="button" routerLink="../sessionsPerPoint">
                <strong>Points</strong>
            </button>
            <button class="btn btn-primary" id="options" type="button" routerLink="../sessionsPerStation">
                <strong>Stations</strong>
            </button>
            <button class="btn btn-primary" id="options" type="button" routerLink="../sessionsPerProvider">
                <strong>Providers</strong>
            </button>
            <button class="btn btn-primary" id="options" type="button" routerLink="../sessionsPerPoint">
                <strong>Invoice</strong>
            </button>
            <button class="btn btn-primary" id="options" type="button" routerLink="../Logout">
                <strong>Logout</strong>
            </button>
        </form>
    </div>
</div>